.crud {
  display: flex;
  justify-content:left;
  align-items: center;
}
.crud__button {
  background-color: var(--second-color);
  color: var(--main-bg);
  border: 1px solid var(--second-color);
  padding: 8px;
  margin-top: 8px;
  border-radius: 5px;
  transition: 0.5s;
}
.crud__button:hover {
  background-color: var(--second-color);
  color: var(--main-bg);
  opacity:0.7;
}
.crud__button-pencil{
  border-radius: 50%;
  width: 28px;
  height: 28px;
  margin: 4px;
  color: var(--main-bg);
  background-color: var(--second-color);
}
.crud__button-pencil:hover{
  transition: 0.5s;
  opacity:0.7;
}
.inputs {
  margin-top: 5px;

  margin-right: 25px;
}
.dato1 {
  margin-bottom: 25px;
  margin-top: 8px;
  padding: 5px;
  border: 1px solid var(--bg-color);
  padding: 5px;
  margin-right: 25px;
  border-radius: 5px;
  transition: 0.5s;
}
.dato1 input{
  background-color: var(--main-bg);
  padding: 10px;
  border-radius: 5px;
  margin-right: 10px;
}
.dato2 {
  margin-bottom: 25px;
  margin-top: 8px;
  border: 1px solid var(--second-color);
  /*margin-right: 25px;*/
  border-radius: 5px;
  transition: 0.5s;
}
.foruno{
  border: 1px solid var(--second-color);
}
