.layout {
  color: var(--txt-color);
}

.layout__content {
  display: flex;
  justify-content: center;
  margin-left: 40px;
  background-color: var(--second-bg);
  min-height: 100vh;
}

.layout__content-main {
  padding: 30px;
}

@media (max-width: 700px) {
  .layout__content {
    margin-left: 10px;
    min-height: 100vh;
    max-width: 80vw;
  }
}