.dashboard__container{
    display: flex;
    flex-direction: column;
    margin-left: 25vw;
    width: 100vw;
}

@media (max-width: 700px)  {
    .dashboard__container{
        margin-left: 5vw;
    }
    .charts__container{
        display: flex;
        flex-direction: column;
    }
    .charts__container .charts__container-cards {
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 80vw;
    }
    /*.charts__container-cards{
        display: flex;
        flex-direction: column;
    }*/

}