.sidebar {
    overflow: hidden;
    overflow-y: scroll;
    min-width: 80px;
    max-width: 80px;
    height: 100vh;
    position: fixed;
    left: 0;
    top: 0;
    background-color: var(--main-bg);
    box-shadow: var(--box-shadow);
    transition: 1.2s;
    scrollbar-width: none;
}
.sidebar::-webkit-scrollbar{
    display: none;
}

.sidebar:hover {
    min-width: 230px;
}

.sidebar__item {
  padding: 0 20px;
}
.sidebar__logo {
  padding: 0 20px;
}
.sidebar__item-logo {
  padding: 15px 25px;
  display: flex;
  align-items: center;
  font-weight: 600;
  transition: color 0.3s ease 0s;
}
.sidebar__item-logo > i {
  margin-right: 10px;
  font-size: 1.5rem;
}
.sidebar__item-logo > i > img{
  margin-right: 50px;
}

.sidebar__item-logo > span {
  text-transform: capitalize;
}

.sidebar__item-logo:hover {
  color: var(--main-color);
}
.sidebar__item-inner {
  padding: 15px 25px;
  display: flex;
  align-items: center;
  font-weight: 600;
  transition: color 0.3s ease 0s;
}

.sidebar__item-inner > i {
  margin-right: 10px;
  font-size: 1.5rem;
}
.sidebar__item-inner > i > img{
  margin-right: 50px;
}

.sidebar__item-inner > span {
  text-transform: capitalize;
}

.sidebar__item-inner:hover {
  color: var(--main-color);
}

.sidebar__item-inner.active {
  border-radius: var(--border-radius);
  background-image: linear-gradient(
    to right,
    var(--main-color),
    var(--second-color)
  );
  color: var(--txt-white);
}
a:link {
  text-decoration: none;
}

@media (max-width: 700px) {
  .sidebar{
    position: absolute;
    opacity: 0.0;
  }
  .sidebar:hover {
    min-width: 50px;
  }
  
  .sidebar__item {
    display: none;
  }
  .sidebar:hover {
    opacity: 0.9;
  }
  .sidebar:hover .sidebar__item {
    display: block;
  }
}
