@import "https://use.fontawesome.com/releases/v5.5.0/css/all.css";



.login-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 80px;
    /*background: white;*/
	top: -50px;
	right: 120px;	
	/*border-radius: 0 72px 0 0;*/
    /*border: 2px solid;*/
    -webkit-animation: scale-up-top 0.8s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	        animation: scale-up-top 0.8s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
            background: linear-gradient(90deg, #7C78B8);				
    
}

.login-box h1{
    float: left;
    font-size: 40px;
    border-bottom: var(--main-bg);
    margin-bottom: 20px;
    padding: 40px;
}

.login-box--subtitle{

    margin-bottom: 5px;
    font-size: 18px;
}

.textbox{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    font-size: 20px;
    padding: 8px 20px;
    margin: 8px 0;
    border-radius: 8px;
    box-shadow: 5px 5px 14px #e7e7e7;
    border: 1px solid #f5f5f5;
}

.textbox input:focus{
    color: #000;
}

.textbox i{
    width: 26px;
    float: left;
    text-align: center;   
}

.textbox input{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border: var(--main-bg);
    outline: none;
    background: none;
    font-size: 18px;
    width: 100%;
    margin: 0 10px;
    padding: 15px;
}

.btnn{
    width: 100%;
    padding: 5px;
    font-size: 18px;
    margin: 12px 0;
    border-radius: 8px;
}

.btnn:hover{
    background-color: var(--main-bg);
    box-shadow: var(--box-shadow);
    border: 2px solid var(--second-color);
    transition: 2s;
}


.social-login {
    display: flex;
    height: 20vh;
    flex-direction: column;
    align-items: center;
    justify-content: end;
    font-size: 14px;
}


.social-icons {
	display: flex;
	align-items: center;
	justify-content: center;
}

.social-login__icon {
	padding: 5px 10px;	
    font-size: 30px;
}

.social-login__icon:hover {
	transform: scale(1.5);	
}


@-webkit-keyframes scale-up-top {
    0% {
      -webkit-transform: scale(0.5);
              transform: scale(0.5);
      -webkit-transform-origin: 50% 0%;
              transform-origin: 50% 0%;
    }
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
      -webkit-transform-origin: 50% 0%;
              transform-origin: 50% 0%;
    }
  }
  @keyframes scale-up-top {
    0% {
      -webkit-transform: scale(0.5);
              transform: scale(0.5);
      -webkit-transform-origin: 50% 0%;
              transform-origin: 50% 0%;
    }
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
      -webkit-transform-origin: 50% 0%;
              transform-origin: 50% 0%;
    }
  }
  